<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logged In</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="style.css"> -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#logged{
    width: 100vw;
    height: 100vh;
}
#logged h1{
    padding-top: 120px;
    color: white;
    text-align: center;

}
#button{
    margin-top: 120px;
    margin-left: 46vw;
}
    </style>
</head>
<body>
    <div class="loggedin col-xl-12 col-md-12 col sm-12 bg-dark" id="logged">
        <h1 id="h1">You are logged In</h1>
       <a href="logout"><button type="button" class="btn btn-outline-primary pl-205" id="button">Log Out</button></a>
    </div>
</body>
</html>
<style>
    #h1{
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }
    #button{
        font-family: 'Raleway', sans-serif;
        font-weight: 800;
    }
</style>